@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.icon-card {
    color: #4700E9;
    background: linear-gradient(297deg, rgba(195, 166, 255, 0.03) 0%, rgba(81, 0, 255, 0.06)100%);
    font-family: simple-line;
}
